@page

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@* @attribute [Authorize(Roles = "Administrator")]
 *@@* @attribute [Authorize(AuthenticationSchemes = "Identity.Application")]
@attribute [Authorize(AuthenticationSchemes = "Foo")] *@

@* @attribute [Authorize(Roles = "zAdministrator", AuthenticationSchemes = "Foo")] *@


<h4 class="bg-info text-center text-white m-2 p-2">
    This is the secret message from Razor
</h4>
